<!doctype html>
<html lang="en" ng-app="roshreview">
<head>
  <meta charset="utf-8">
  <title>RoshReview</title>

  <!-- system stylesheets -->
  <link rel="stylesheet" href="css/app.css">
  <!-- <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"> -->
  <!-- <link rel="stylesheet" href="css/animations.css"> -->

  <!-- bower components -->
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-route/angular-route.js"></script>
  <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="../bower_components/highcharts-ng/dist/highcharts-ng.js"></script>
  <script src="../bower_components/highcharts/highcharts.src.js"></script>
  <script src="../bower_components/highcharts/highcharts-more.src.js"></script>
  <script src="../bower_components/highcharts/modules/solid-gauge.src.js"></script>
  <script src="../bower_components/angular-native-picker/build/angular-datepicker.js"></script>

  <!-- system javascripts -->
  <script src="js/global_methods.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/services.js"></script>
</head>
<body ng-controller="MainCtrl">
  <div id="wrapper">
    <div id="header">
      <h1><a href="#/login"></a></h1>
      <div class="right" ng-show="loggedIn()">Welcome
        <span class="name" ng-model="fullname">{{fullname()}}</span>
        <a href="" ng-click="logoutSubscriber()" rel="nofollow">Sign Out</a>
      </div>
    </div>

    <div class="view-container">
      <div ng-view class="view-frame"></div>
    </div>
    <div id="footer">
        <p>Copyright © 2015 Rosh Review. All rights reserved</p>

        <div class="links">
          <a href="#/term_and_conditions">Terms &amp; Conditions</a>
          <a href="#/disclaimer">Disclaimer</a>
          <a href="#/privacy_policy">Privacy Policy</a>
        </div>

        <div class="share">
          <span>Connect with us:</span>
          <a href="http://www.facebook.com/RoshReview" class="fb">Facebook</a>
          <a href="https://twitter.com/#!/RoshReview" class="tw">Twitter</a>
          <a href="mailto:support@roshreview.com" class="mail">Mail</a>
        </div>
      </div>
  </div>
</body>
</html>
